@import 'bower_components/compass-mixins/lib/_compass.scss';

body {
	background-color: #f8f8f8;
	padding: 0;
	margin: 0;
}

.email-template {
	margin: 0 auto;
	width: 600px;
	height: 700px;
	background-color: #fff;
	@include box-shadow(rgba(#000, 0.15) 0px 0px 10px);
}

.header {
	width: 100%;
	height: 200px;
	text-align: center;
	font-size: 60px;
	text-transform: uppercase;
	line-height: 200px;
	background-color: #604687;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #fff;
}

// injector
// endinjector
